{{ docType() }}
<html lang="pt_BR">
<head>
    {{ headMeta().setCharset('UTF-8')|raw }}
    <title>{% block title %}ZF2 {{ translate('Skeleton Application') }}{% endblock title %}</title>

    {{ headMeta().appendName('viewport', 'width=device-width, initial-scale=1.0').appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw }}

    {% block meta %}{% endblock meta %}

    {# Le styles #}
    {{ headLink({'rel':'shortcut icon', 'type':'image/vnd.microsoft.icon', 'href': basePath() ~ '/img/favicon.ico'})
        .prependStylesheet(basePath() ~ '/css/style.css')
        .prependStylesheet(basePath() ~ '/css/bootstrap-theme.min.css')
        .prependStylesheet(basePath() ~ '/css/bootstrap.min.css')|raw
    }}

    {% block style %}{% endblock style %}

    {# Scripts #}
    {{ headScript().appendFile('/js/jquery.min.js')
        .appendFile('/js/bootstrap.min.js')
        .appendFile('/js/main.js')
        .appendFile('/js/respond.min.js', 'text/javascript', {'conditional':'if lt IE 9'})
        .appendFile('/js/html5shiv.js', 'text/javascript', {'conditional':'if lt IE 9'})|raw
    }}

    {% block script %}{% endblock script %}
</head>
    <body>
        {% block content %}{{ content|raw }}{% endblock content %}
        {{ inlineScript()|raw }}
    </body>
</html>